version: '3.9'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app
    command: >
      sh -c "while ! nc -z db 3306; do sleep 1; done; python manage.py runserver 0.0.0.0:8000"
    depends_on:
      - db

  db:
    image: mysql:8.0
    ports:
      - '3306:3306'
    env_file: .env
    volumes:
      - ./mysql:/var/lib/mysql
